<%= form_for post do |f| %>
<%= f.label :投稿 %><br>
  <%= f.text_field :body ,class: "input w-2 mb-2" %><br>
  <div class="file is-boxed">
    <label class="file-label">
      <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
        <label for="file" class="file">
          <%= f.file_field :image %>
          </label>
      </span>
    </span>
    </label>
  </div>
  <%= f.submit :投稿, class: "button is-primary mt-2" %>
<% end %>
<hr>



