<%= @user.name %>さん<br>
<% if @user.image.present? %>
　　<%= image_tag @user.image.thumb.url, size: "50x50", class: "img-circle" %>
　<% else %>
　　<%= image_tag 'no-image.png', size: "50x50"%>
　<% end %><br>

<% if current_user == @user %>
  <% if !@user.profile %>
     <%= link_to  "プロフィール入力へ",  new_user_profiles_path(@user) %>
  <% else %>
    <%= link_to  "プロフィール編集へ",  edit_user_profiles_path(@user) %>
  <% end %>
  <% if !@user.image %>
    <%= link_to "プロフィール写真を登録", photo_user_path(current_user) %>
  <% else %>
    <%= link_to "プロフィール写真を編集", photo_user_path(current_user) %>
  <% end %>
  <% end %>
　<%= render 'follow_form' %>
　<%= render 'stats' %>

<hr>
<% if @user.profile %>
<h3>プロフィール</h3>
スキル:
<%= @user.profile.skill %><br>
自己アピール:
<%= @user.profile.appear %><br>
資格:
<%= @user.profile.license %><br>
<% end %>