<script>
rails = window.rails = {};
rails.students = <%= raw @students.to_json %>;
rails.student = <%= raw @student.to_json %>;
events = <%= raw @events.to_json %>;
login = rails.student !== null
my_events = <%= raw @my_events.to_json %>;
rails.event_students = <%= raw @event_students.to_json %>;
rails.event_ids = <%= raw @event_ids.to_json %>;
 console.log(rails.event_students)
 console.log(rails.event_ids)

blob_url = '<%if @student.image.attached? %><%= raw rails_blob_url(@student.image).to_json %><% end %>'

join_students = <%= raw @join_students.to_json %>

console.log(blob_url)

</script>

<div id="app">
  <navbar>
  </navbar>

</div>
<% if !current_student.image.attached? %>
  <%= form_with model: current_student, local: true do |f| %>
<%= f.file_field :image %><br>
<%= f.submit %>
<% end %>
<% end %>

<% if current_student.image.attached? %>
  <%= image_tag current_student.image, size: "40x40" %>
  <% end %>