<!DOCTYPE html>
<html>
<head>
  <title>Etoria</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
   <%= javascript_pack_tag 'hello_vue' %>
</body>
</html>
