 <div class="container">
   <%= render "partial/new_post", post: @post %><br>
   <% @posts.each do |post| %>
     <%if post.user.image.present? %>
     　<%= image_tag post.user.image.thumb.url, size: "50x50", class: "img-circle" %>
     <% else %>
   <%= image_tag "no-image.png", size: "50x50"  %>
     <% end %>
     <%= link_to user_path(post.user) do %>
     <%= post.user.name %>さん
       <% end %><br>
     <%= post.body %><br>
     <% if post.image? %>
　　    <%= image_tag post.image.thumb.url %>
    　<% end %><br>
     <% if current_user == post.user %>
       <%= link_to  post_path(post), method: :delete, data: {confirm: "削除しますか？"} do %>
         <i class="fas fa-trash-alt"></i>
       <% end %>
       <% end %>
     <hr>
   <% end %>
 </div>
