<%= render ‘users/header1’ ,user:current_user %>
<div class=“container”>
    <div> <h1>マイページ</h1> </div>
  <div class=“row”>
    <div class=“col-sm-3”>
            <div align=“center”> <%= attachment_image_tag @user, :image, :fill,200,200, format: ‘jpeg’, size: “200x200”, fallback: “no-image.jpg” %></div>
            <div class=“name_display”>
                  <div align=“center”> <%= @user.name %></div>
               </div>



             <%= link_to “編集“,edit_user_path(@user.id), class: “btn btn-success edit_btn” %>
             <%= link_to “退会“, delete_user_path(@user, params:  {user: {deleted_at: Time.current} }),method: :put, class: “btn btn-danger delete_btn” %>


    </div>


    <div class=“col-sm-9">



       <!-- ここでお気に入り一覧 -->
       <h2>お気に入り一覧</h2>
          <div class=“favorite-list”>
                <% if @favorite.count==0 %>
                     <h4>現在登録がありません</h4>
              <% else %>
                    <% @favorite.each do |f| %>
                        <div class=“new-list-content”>
                            <%= link_to cd_path(f.id) do %>
                                <%= attachment_image_tag f, :cd_image, format: ‘jpeg’, fallback: “cd.jpg”, size: “200x200" %>
                            <% end %>
                        </div>
                  <% end %>
              <% end %>

          </div>

      <h2> 購入履歴一覧</h2>
            <% @histories.each do |history| %>
            <div class=“history_container”>
            <div class=“history-box1">
                <div class=“show_time”><%= history.created_at %></div>
                        <div class=“show_histories_name”>
                            <h3><%= history.histories_name %>様</h3>
                        </div>

                        <div class=“show_postal_address”>
                            <div><%= history.histories_postal %></div>
                            <div><%= history.histories_address %></div>
                        </div>
                                 <div class=“show_quantity_price” >
                                     <% @total_price = [] %>
                                    <% history.history_cds.each do |history_cd| %>
                                      <div class=“show_album”><%= history_cd.cd.album %>
                                      <span class=“show_quantity”><%= history_cd.history_cd_quantity %>点</span>
                                      <span class=“show_price”><%= history_cd.history_cd_price %>円</span>
                                      <span><% @shokei = history_cd.history_cd_quantity * history_cd.history_cd_price %></span>
                                      <% @total_price << @shokei %>
                                      </div>
                                 </div>
                            <% end %>
                            <div class=“history_box2">
                             <div class=“show_total”>
                                <span class=“show_total_quantity”><%=  history.history_cds.sum(:history_cd_quantity) %>点</span>
                                <span class=“show_otal_price”><%= @total_price.sum %>円</span>
                             </div>
                            </div>
                     </div>
                </div>
            <% end %>
        </div>
    </div>
 </div>
</div>
