<h2>みんなのアイデア</h2>
<div class="col">
<%= render "partial/new_idea", idea: @idea %>
</div>
<% @ideas.each do |idea| %>
  <div class="idea">
    <%= link_to user_path(idea.user) do %>
      <%= idea.user.name %><br>
    <% end %>
    <%= idea.title %><br>
    <%= idea.body %><br>
    <% if idea.image? %>
      　　    <%= image_tag idea.image.thumb.url %>
      　<% end %><br>
    <% if current_user == idea.user %>
      <%= link_to  idea_path(idea), method: :delete, data: {confirm: "削除しますか？"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
  <hr>
<% end %>
